body {
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.3);*/
    /*text-shadow: 1px 1px 0 rgba(255,255,255,.7);*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    /*font-family: 'titillium web', sans-serif;*/
    font-family: 'titillium web', sans-serif;
    min-height: 100%;
    font-weight: 200;
    font-size: 27px;
    height: 100%;
    color: #888;
    padding: 0;
    margin: 0;
    /*background: #eee;*/
    /*background: linear-gradient(45deg, #333 30%, #44444a);*/
    /*background: linear-gradient(225deg, #39444d , #22292e 88%);*/
}
a, a:hover, a:focus {
    text-decoration: none;
    color: #777;
}
b {
    /*font-weight: 100;*/
}

.image-lines {
    display: none;
    position: absolute;
    top: 557px;
    left: -455px;
    height: 54px;
    width: 170px;
    background: url(../svg/lines2.svg);
    background-size: cover;
    z-index: 0;
    transform: rotate(-90deg);
}
.image-lines-right {
    left: auto;
    top: 377px;
    right: -425px;
    background-position: center right; 
    transform: scaleX(-1) rotate(-90deg);
    width: 190px;
}
.top-wrap {
    position: relative;
    float: none;
    margin: 0 auto;
    /*width: 100%;*/
    height: 35px;
    /*background: #f5f5f5;*/
    /*background: rgba(230,175,25,1);*/
    padding: 3vh 20% 0;
    max-width: 1160px;
    display: flex;
    z-index: 20;
    /*text-shadow: -1px -1px 0 rgba(0,0,0,.15);*/
    justify-content: space-between;
    /*box-shadow: 0 6px 0 rgba(40,40,0,.1);*/
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.2);*/
}
.top-wrap div {
    color: #aaa;
    display: flex;
    font-weight: 300;
    /*float: left;*/
    padding: 1px 0;
    /*margin: 0 10% 0 0;*/
    font-size: 16px;
}
.top-wrap div.warning {
    margin-left: 40px;
    font-size: 20px;
    padding: 1px 0;
}
.top-wrap div.warning a {
    color: #aaa;
}
.top-wrap div.number {
    font-size: 20px;
    /*font-weight: 600;*/
    padding: 1px 0;
    /*margin-left: -50px;*/
    color: #aaa;
}
.top-wrap div.number span {
    font-size: 16px;
    /*font-weight: 400;*/
    position: relative;
    color: #aaa;
    top: 5px;
    margin-right: 10px;
}
.top-wrap div.manage a {
    /*border-left: 1px dashed;*/
    /*border-right: 1px dashed;*/
    /*box-shadow: inset -2px 0 0 rgba(80,80,0,.06), -2px 0 0 rgba(80,80,0,.06);*/
    height: 24px;
    /*top: -2px;*/
    position: relative;
    color: #aaa;
    /*font-weight: 300;*/
    font-size: 20px;
    padding: 0 15px 0 35px;
}
.top-wrap div.manage span {
    width: 10px;
    height: 10px;
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 0;
}
.top-wrap div.manage span:before {
    content: '';
    position: relative;
    background: url(../svg/skype.svg) no-repeat;
    background-size: 100%;
    filter: grayscale(.6);
    width: 30px;
    height: 30px;
    display: inline-block;
    transition: .2s;
}
.top-wrap div.manage a:hover span:before {
    filter: grayscale(0);
    height: 36px;
    width: 36px;
    margin: -3px;
}
.footer {
    width: 100%;
    position: relative;
    /*background: rgba(255,255,255,1);*/
    /*background: rgba(55,155,225,.95);*/
    /*background: rgba(55,195,175,.95);*/
    /*background: linear-gradient(to right, rgba(55,195,175,.95) 45%, rgba(55,195,175,.95) 45%, rgba(250,250,250,.95) 45%);*/
    height: 90%;
    /*padding-bottom: 1.5vw;*/
    /*border-top: 1px solid #777;*/
}
.footer:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.95);
    /*background: linear-gradient(110deg, rgba(0,180,190,1) 0, rgba(55,155,235,1) 60%, rgba(50,130,200,1));*/
}
.footer-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: .3;
}
.screen-one {
    width: 100%;
    height: 100%;
    position: relative;
    background: #222;
}
.screen-one:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(135deg, #203035 , #202025 70%);*/
    background: url(../imgs/geom.png) no-repeat center bottom;
    filter: grayscale(1);
    background-size: cover;
    /*filter: opacity(.15) hue-rotate(20deg) grayscale(1) sepia(.2) brightness(0.65);*/
    /*transform: scaleX(-1);*/
    opacity: 1;
    /*will-change: transform;*/
    /*background-attachment: fixed;*/
    /*position: fixed;*/
}
/*.screen-one:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #203035 , #202025 70%);
    background: url(../imgs/north.jpg) no-repeat center 80%;
    background-size: 100%;
    filter: opacity(.15) hue-rotate(20deg) grayscale(1) sepia(.2) brightness(0.65);
    transform: scaleX(-1);
    z-index: 0;
    opacity: .2;
    will-change: transform;
    background-attachment: fixed;
    position: fixed;
}*/
.screen-two {
    width: 100%;
    position: relative;
    /*background: rgba(70,185,165,1);*/
    /*background: rgba(255,255,255,0.8);*/
}
.works {
    float: none;
    /*background: rgba(50,165,145,0.8);*/
    width: calc(65% - 1vw);
    margin: 0 auto;
    height: auto;
    padding: 7vw .5vw;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top-wrap;
    justify-content: space-between;
    text-align: center;
}
.works .work-col {
    display: flex;
    flex-flow: column;
    width: 20vw;
    height: auto;
}
.works .work-col > div {
    /*width: 29%;*/
    width: 100%;
    min-height: 22.5%;
    margin: 1vw auto;
    display: flex;
    position: relative;
    /*background-image: none!important;*/
    box-shadow: 2.15vh 1.3vw 0 rgba(0,0,0,.05);
    filter: grayscale(1);
}
.works .work-col > div:before {
    content: '';
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-color: rgba(200,200,200,.8);
}
.works .work-col > div:hover {
    filter: grayscale(0);
}
.works .work-col > div:hover .work-text {
    opacity: 0;
}
.works .work-text {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    background-color: rgba(0,0,0,.0);
    color: #777;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.works .work-col > div.work-one:before {
    background-image: url(../imgs/work/grb-1.jpg);
    height: 300px;
    /*flex: 0 1 30%;*/
    /*display: none!important;*/
}
.works .work-col > div.work-two:before {
    background-image: url(../imgs/work/bermeniev-1.png);
    /*flex: 0 1 30%;*/
    /*display: none!important;*/
}
.works .work-col > div.work-three:before {
    background-image: url(../imgs/work/dostavkaone-1.jpg);
    height: 400px;
    /*flex: 0 1 66.66%;*/
    /*flex: 0 1 62%;*/
}
.works .work-col > div.work-four:before {
    background-image: url(../imgs/work/nponomareva-1.png);
}
.works .work-col > div.work-five:before {
    background-image: url(../imgs/work/thelanglab-1.jpg);
    height: 300px;
}
.works .work-col > div.work-six:before {
    background-image: url(../imgs/work/mosbronza-1.jpg);
    background-size: 120%!important;
    height: 370px;
}
.works .work-col > div.work-seven:before {
    background-image: url(../imgs/work/digitalpapa-1.png);
    height: 278px;
}
.works .work-col > div.work-eight:before {
    background-image: url(../imgs/work/uupolimer-1.jpg);
    background-position: 5% 0!important;
    /*background-repeat: repeat!important;*/
    background-size: 110%!important;
    height: 340px;
}
.works .work-col > div.work-nine:before {
    background-image: url(../imgs/work/petrovich-1.jpg);
    /*display: none!important;*/
    /*flex: 0 1 66.66%;*/
    /*flex: 0 1 62%;*/
    height: 329px;
}
.graph {
    position: absolute;
    width: 100%;
    height: 100%;
}
.graph:before {
    content: '';
    position: absolute;
    width: 1250px;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    background: url(../svg/graph.svg) top no-repeat;
    background-size: 100%;
    top: calc(24vh - 12vw);
    opacity: 1;
    display: block;
}
.graph.g {
    display: none;
}
.wrap-filter {
    /*background: #dadada;*/
    /*background: linear-gradient(to bottom, #00c5b5 35%, #00c0b0 35%);*/
    /*background-color: rgba(0, 0, 0, .02);*/
    position: absolute;
    height: 30%;
    width: 100%;
    top: 70%;
    display: block;
    transition: .493s height, .493s top;
}
.wrap-filter:before {
    content: '';
    position: absolute;
    background-color: rgba(15, 10, 0, .05);
    /*background: linear-gradient(45deg, #222 30%, #111);*/
    /*background: linear-gradient(225deg, #39444d , #22292e 88%);*/
    width: 100%;
    height: 100%;
    display: none;
}
.wrap-filter.w {
    height: 20%;
    top: 80%;
}
.bg-filter {
    width: 100%;
    height: 100%;
    position: absolute;
}
.bg-filter.f.top-filter:before {
    /*opacity: .03;*/
}
.bg-filter:before {
    display: none;
    content: '';
    background: url(../imgs/reg.jpg) no-repeat center;
    /*background: linear-gradient(45deg, #333 30%, #44444a);*/
    /*background: linear-gradient(45deg, #333 30%, #44444a);*/
    transition: .5s ease-in-out filter;
    filter: inherit;
    filter: grayscale(1) blur(0px);
    background-size: cover;
    will-change: transform;
    background-attachment: fixed;
    /*position: fixed;*/
    /*top: -30%;*/
    /*transition: .5s;*/
    z-index: -1;
    opacity: .05;
    height: 100%;
    width: 110%;
}

/*.bg-filter.m {
    opacity: .6;
}*/
.body-filter {
    position: fixed;
    height: 20%;
    width: 100%;
    z-index: -1;
    left: 0;
    bottom: 0;
}
.main-wrap {
    position: relative;
    display: block;
    /*left: 20%;*/
    transition: 1s;
    /*min-height: 100%;*/
    /*height: 100%;*/
    float: none;
    width: 60%;
    margin: 0 auto;
    max-width: 1160px;
}
/*.main-wrap.m {
    opacity: 1;
}*/
.main-title {
    font-family: 'advent pro', sans-serif;
    vertical-align: bottom;
    text-align: left;
    position: relative;
    font-weight: 100;
    letter-spacing: -6;
    /*left: -3px;*/
    width: 100%;
    font-size: 84px;
    color: #00b5bb;
    /*color: #00c5ca;*/
    margin: 12vh 0 0;
    text-shadow: 5px 5px 0 rgba(0,0,0,.1);
}
.main-title::first-letter {
    color: #fff;
}
.main-title > div {
    display: inline-block;
    position: relative;
}
.main-title div.messenger-wrap {
    text-align: right;
    float: right;
    top: 15px;
}
/*.main-title .name:before {
    content: '\'';
    position: absolute;
    top: -3px;
    left: 41px;
    margin-top: 0.5px;
    display: block;
    background-color: #777;
    border-radius: 2px;
    height: 12px;
    width: 3px;
    transform: rotate(46deg) translate(0);
}*/
.main-title .logo {
    width: 56px;
    height: 42px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 -10px 0 -2px;
}
.main-title .logo:before {
    content: '';
    margin-top: 0.5px;
    display: block;
    background: url(../svg/switch-ok.svg) top no-repeat;
    background-size: 100%;
    height: 47px;
    width: 67px;
    /*transform: rotateX(180deg) translateX(14px);*/
}
.main-title .logo:after {
    content: '';
    display: none;
    width: 34px;
	height: 34px;
    background: #888;
    border-radius: 50%;
    z-index: -1;
    left: 4px;
    top: 5px;
    position: absolute;
}
.main-title .telegram, .main-title .whatsapp, .main-title .viber {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    filter: grayscale(.6) opacity(0.05);
    z-index: 20;
    transition: .2s;
    background-size: 100%;
    background-repeat: no-repeat;
    /*border-radius: 50%;*/
    /*margin: 0 -1px 0 -2px;*/
}
.main-title .viber {
    /*filter: grayscale(1) opacity(.5);*/
    /*width: 34px;
    height: 34px;
    top: 4px;*/
}
.messenger-wrap a.messenger-icon {
    margin-left: 15px;
}
.manage a.messenger-icon {
    padding-left: 40px!important;
}
.messenger-icon span:before, .main-title .telegram:before, .main-title .whatsapp:before, .main-title .viber:before {
    content: '';
    /*margin-top: 0.5px;*/
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.main-title .telegram:hover:before, .main-title .whatsapp:hover:before, .main-title .viber:hover:before {
    filter: grayscale(0);
}
.main-title .telegram:hover, .main-title .whatsapp:hover, .main-title .viber:hover {
    filter: grayscale(0.4);
    /*filter: grayscale(0);*/
    height: 40px;
    width: 40px;
    margin: -5px;
}
.messenger-icon.icon-color span {
    filter: grayscale(0.4);
}
/*.messenger-icon span:before {
    filter: grayscale(1);
}*/
.main-title .telegram {
    background-image: url(../svg/telegram.svg);
}
.main-title .whatsapp {
    background-image: url(../svg/whatsapp.svg);
}
.main-title .viber {
    background-image: url(../svg/viber.svg);
}
.messenger-icon span:before {
}

.moto-wrap {
    margin: -15px 0 0 1px;
    width: 100%;
    text-align: left;
    font-weight: 200;
    color: #00c2c9;
    font-size: 19px;
    /*letter-spacing: .3;*/
    text-shadow: 5px 5px 0 rgba(0,0,0,.3);
}
.mail-wrap {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    position: absolute;
    /*right: 0;*/
    margin: 0 auto;
    top: 5.5vh;
    z-index: 1;
    font-size: 25px;
}
.mail-wrap a {
    color: #fff;
}
.agenda-wrap {
    font-size: 34px;
}
.thank-wrap {
    transition: ease-in .1s opacity;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    text-align: center;
    word-spacing: 5px;
    font-size: 30px;
    line-height: 50px;
    margin-top: 90px;
    /*font-weight: 100;*/
}
.thank-wrap.thank-show {
    z-index: 1;
    opacity: 1;
}
.info-wrap {
    transition: .5s;
    /*background: rgba(0,150,130,1);*/
    /*background: rgba(255,255,255,.1);*/
    /*background: #222;*/
    width: 60vw;
    margin: 7vh auto 0 auto;
    padding: 7% 0;
    height: 9%;
    /*font-weight: 100;*/
    /*display: flex;*/
    opacity: 1;
    position: relative;
    /*overflow: hidden;*/
    color: #ddd;
    left: 0;
    z-index: 1;
    text-align: left;
    word-spacing: 5px;
    font-size: 30px;
    line-height: 40px;
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.3);*/
}
.info-wrap:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.info-wrap .info-text {
    width: 60%;
    display: inline-block;
}
.info-wrap i {
    font-style: normal;
    font-weight: bold;
}
.info-wrap.o {
    opacity: 0;
    /*height: 0;*/
    padding: 0;
    /*top: -200px;*/
    /*background: rgba(0,150,200,1);*/
    /*left: -50%;*/
    /*z-index: -1;*/
}
.hint-wrap {
    position: absolute;
    text-align: left;
    font-weight: 200;
    font-size: 19px;
    transition: .5s top;
    top: 400px;
    /*padding: 0 9%;*/
    /*z-index: -1;*/
    /*left: 20%;*/
    margin-top: 20vh;
    width: 100%;
    color: #889;
    z-index: 20;
}
.hint-wrap > div {
    margin: 0 0 1.5vw;
    display: inline-block;
    /*opacity: 0.2;*/
    cursor: pointer;
    transition: ease-in .1s opacity;
}
.hint-wrap div:hover {
    opacity: 1;
}
.hint-wrap div:before, .hint-wrap div:after {
    content: '';
    width: 100%;
    display: inline-block;
}
/*.hint-wrap div.hint-name {
    width: 60%;
    margin: 0 20%;
    min-width: 675px;
}*/
.hint-wrap .hint-domain {
    border-bottom: 1px solid #666;
    position: relative;
}
.hint-wrap .hint-domain:after {
    width: 20px;
    height: 20px;
    position: absolute;
    content: 'new';
    margin-top: -2px;
    right: -25px;
    font-size: 14px;
}

.hint-wrap div.hint-just {
    /*margin: 4% 12.5% 0;*/
    /*width: 75%;*/
    /*min-width: 675px;*/
    font-size: 19px;
    text-indent: 10px;
    float: right;
    text-align: right;
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.3);*/
    /*font-weight: 300;*/
}

.hint-wrap.o {
    /*opacity: 0;*/
    top: 700px;
    z-index: -1;
    /*left: 0;*/
}
/*.hint-wrap.t.m {
    left: -50%;
    opacity: 0;
    z-index: -1;
}*/
.hint-label:before, .hint-label:after {
    width: 50px;
    height: 10px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    background-color: #777;
    transition: all 0.25s ease-out;
}

.hint-label:after {
    transform: rotate(-135deg);
}

.hint-label:hover .hint-label:before, .hint-label:hover .hint-label:after{
    transform: rotate(0deg);
}
.hint-label {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    line-height: 36px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    width: 50px;
    top: 95vh;
    z-index: 10;
    opacity: 0.2;
    transform: scale(1.4);
}
.hint-label .info-mark, .hint-label .x-mark {
    position: absolute;
    text-align: center;
    transition: .5s;
    width: 36px;
    color: rgba(220, 200, 140, 1);
    font-size: 46px;
    font-weight: 400;
    margin-left: -1px;
}
.hint-label .x-mark {
    /*font-weight: 100;*/
    transform: rotate(-45deg);
}
.hint-label .info-mark, .hint-label.x .x-mark {
    opacity: 1;
    transform: rotate(0deg);
}
.hint-label .info-mark {
    opacity: 0;
}
.info-wrap .button-wrap {
    width: 40%;
    text-align: right;
    float: right;
    top: 24px;
    right: 2px;
    position: relative;
}
.button-wrap, .just-wrap {
    /*top: 41.1vh;*/
    /*position: absolute;*/
}
.button-wrap span, .just-wrap span {
    padding: 12px 30px;
    /*position: absolute;*/
    /*right: 0;*/
    cursor: pointer;
    /*transition: .5s;*/
    font-weight: 200;
    font-size: 26px;
    width: auto;
    /*transform: translate(-49%);*/
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.2);*/
    color: #00c8cf;
    border: 1px solid #00c5cc;
    /*background-color: #00c0b5;*/
    background-image: none;
    /*background: linear-gradient(45deg, #999, #777 30%, #999);*/
    /*background: linear-gradient(135deg,  #00c2c9 30%, rgba(55,150,225,.95));*/
    /*background: linear-gradient(45deg, rgba(55,150,225,.95) 30%, #00c2c9 80%);*/
    /*box-shadow: 7px 7px 0 rgba(0,0,0,.05);*/
}
.button-wrap span:hover {
    /*background-image: linear-gradient(135deg,  #00c0b5 30%, rgba(55,150,225,.95));*/
    background-color: #00a0a5;
    border-color: #00a0a5;
    /*text-shadow: none;*/
    color: #fff;
}
.button-wrap span.quest-button, .button-wrap.s span.send-button {
    z-index: 1;
    opacity: 1;
    /*transform: translate(0);*/
    /*left: 0;*/
}
.button-wrap.s span.quest-button, .button-wrap span.send-button {
    z-index: -1;
    opacity: 0;
    /*transform: translate(-50%);*/
    /*left: 50%;*/
}
.button-wrap span.quest-button {
    /*border: none;*/
    /*background: #777;*/
    /*color: rgba(0,150,130,1);*/
    /*font-weight: 300;*/
}
.contact-form .button-wrap span.send-button {
    transition: none;
    position: absolute;
    top: 98px;
    left: 0;
    opacity: 1;
    /*border: none;*/
    /*border-radius: 30px;*/
    /*padding: 12px 30px;*/
    /*font-size: 23px;*/
    /*background: rgba(0,150,130,1);*/
    transition: .5s top;
    z-index: 10;
}
.button-wrap.s span.send-button {
    left: 0;
}
.contact-form.m .button-wrap span.send-button {
    top: 245px;
}

/*.button-wrap span:before, .button-wrap span:after {*/
/*.button-wrap span:after {
    transition: .1s;
    position: absolute;
    border: 1px solid rgba(0,0,0,.1);
    display: block;
    content: '';
    width: 254px;
    height: 63px;
    right: -5px;
    top: -8px;   
    z-index: -1; 
}*/
/*.button-wrap span:after {
    box-shadow: inset 1px 0 0 rgba(255,255,255,1), inset -1px 0 0 rgba(255,255,255,1), inset 0 -1px 0 rgba(255,255,255,1);
    top: auto;
    bottom: 0;
}*/
.button-wrap span:hover:before {
    top: -5px;
}
.button-wrap span:hover:after {
    bottom: -5px;
}
.contact-form {
    position: absolute;
    opacity: 0;
    /*left: 100%;*/
    /*transition: .5s opacity;*/
    width: 100%;
    margin-top: 0;
    z-index: -1;
    max-height: 0;
    transition: .5s;
}
.contact-form.m {
    opacity: 1;
    margin-top: 6%;
    left: 0;
    z-index: 10;
    max-height: 400;
}
.contact-form .form-left {
    float: left;
    margin: 0 1.4vw 1.5vw 0;
    width: 40%;
}
.contact-form textarea, .contact-form input {
    /*background: rgba(65,175,155,.9);*/
    background: rgba(255,255,255,.02);
    /*background-color: transparent;*/
    /*box-shadow: inset 0 1px 0 #555;*/
    /*box-shadow: 10px 10px 0 rgba(0,0,0,.05);*/
    /*box-shadow: none;*/
    /*text-shadow: 5px 5px 0 rgba(0,0,0,.2);*/
    border: none;
    /*border-top: 1px dashed #aaa;*/
    /*border-bottom: 1px dashed #aaa;*/
    color: #fff;
    padding: 40px 30px;
    font-size: 21px;
    font-family: 'titillium web';
    font-weight: 200;
    outline: none;
    /*margin: 0 0 1.5vw;*/
    height: 40px;
    width: 100%;
    float: left;
    outline: none;
    transition: ease-in-out .1s padding, ease-in .1s box-shadow;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
  border:none !important;
  color: #444!important;
  -webkit-text-fill-color: #888 !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,.05) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.contact-form input.input-phone {
    /*border-bottom: 1px solid #aaa;*/
    margin-top: 1.5vw;
    /*background: rgba(255,255,255,.08);*/
    /*box-shadow: 10px 10px 0 rgba(0,0,0,.02);*/
}
.contact-form textarea {
    width: 60%;
    height: 161px;
    width: calc(60% - 1.5vw);
    margin: 0 0 1.5vw 0;
    float: left;
    resize:  none;
    overflow: hidden;
    padding: 24px 30px;
    transition: .4s height;
}
.contact-form textarea.l {
    height: 310px;
}
.contact-form input.error, .contact-form textarea.error {
    /*background: rgba(100,100,100,.05);*/
    transition: ease-out .8s background-color;
    /*border-top-color: #c44;*/
}
.contact-form .error-padd {
    /*box-shadow: inset 0 1px 0 #777;*/
    background: rgba(200,180,100,.15)!important;
    transition: ease-out .2s background-color!important;
    /*border-top-color: #c44;*/
    /*padding-left: 30px;*/
}
.contact-form textarea:focus, .contact-form input:focus, .contact-form textarea:active, .contact-form input:active {
    /*border-top-color: rgba(0, 150, 200, 1);*/
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,1);*/
    /*border-top-color: #777;*/
    /*background-color: transparent;*/
    /*box-shadow: 10px 10px 0 rgba(0,0,0,.08);*/
    /*background: rgba(255,255,255,.2);*/
    /*background: rgba(80,200,180,.8);*/
}
::-webkit-resizer {
    border: none;
    cursor: pointer;
}
::-webkit-scrollbar {
    background-color: transparent;
    height: 24px;
    width: 24px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px rgba(255,255,255,.1);
    border: 10px solid transparent;
    border-radius: 12px;
    opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 0 6px rgba(255,255,255,.2);
    border: 8px solid transparent;
}
::-webkit-input-placeholder {
    color: #999;
    font-family: 'titillium web', sans-serif;
    font-size: 21px;
    /*font-weight: 100;*/
}
::-moz-placeholder {
    color: #999;
    font-family: 'titillium web', sans-serif;
    font-size: 21px;
    /*font-weight: 100;*/
}
:-moz-placeholder {
    color: #999;
    font-family: 'titillium web', sans-serif;
    font-size: 21px;
    /*font-weight: 100;*/
}
:-ms-input-placeholder {
    color: #999;
    font-family: 'titillium web', sans-serif;
    font-size: 21px;
    /*font-weight: 100;*/
}
/*.contact-form input.input-phone::-webkit-input-placeholder {
    font-size: 17px;
    color: rgba(255,255,255,.8);
}
.contact-form input.input-phone::-moz-placeholder {
    font-size: 17px;
    color: rgba(255,255,255,.8);
}
.contact-form input.input-phone:-moz-placeholder {
    font-size: 17px;
    color: rgba(255,255,255,.8);
}
.contact-form input.input-phone:-ms-input-placeholder {
    font-size: 17px;
    color: rgba(255,255,255,.8);
}*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {

    /*text-shadow: none;*/
    transition: .5s;
    color: transparent!important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {

    /*text-shadow: none;*/
    transition: .5s;
    color: transparent!important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {

    /*text-shadow: none;*/
    transition: .5s;
    color: transparent!important;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    /*text-shadow: none;*/
    transition: .5s;
    color: transparent!important;
}

/*.en-lang {
    font-family: 'nunito';
    font-size: 18px;
}
.ru-lang {
    font-family: 'ubuntu';
    font-size: 16px;
}
.kr-lang {
    font-family: 'jeju gothic';
}
.kr-lang .en-lang {
    font-size: 20px;
    position: relative;
    top: 2px;
}*/
/*.tech-wrap {
    justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
    height: 200px;
    float: right;
    width: 155px;
}
.devicons {
    position: relative;
    line-height: 30px;
    overflow: hidden;
    font-size: 2em;
    height: 30px;
    opacity: .2;
}
.devicons:hover {
    opacity: 1;
}
.devicons-nodejs, .devicons-nginx {
    font-size: 5em;
}
.devicons-nodejs {
    top: -4px;
}
.devicons-ruby, .devicons-yii {
    font-size: 1.5em;
}
.devicons-django, .devicons-php {
    font-size: 3em;
}*/



@media only screen
and (min-width : 0)
and (max-width : 1360px)
and (orientation : landscape), only screen
and (min-width : 0)
and (max-width : 1360px)
and (orientation : portrait) {
    body {
        /*font-weight: 400;*/
        font-size: 34px;
    }
    b {
        /*font-weight: 400;*/
    }
    .top-wrap {
        /*padding: 3vh 0 20px;*/
    }
    .top-wrap div.warning {
        margin-left: 26px;
        float: right;
    }
    .main-title {
        margin: 0 auto 0;
        font-size: 80px;
    }
    .main-title .logo {
        height: 60px;
        width: 79px;
    }
    .main-title .logo:before {
        width: 94px;
        height: 60px;
        margin-top: 4px;
    }
    .main-title .logo-wrap {
        width: 100%;
        text-align: center;
    }
    .main-title div.messenger-wrap {
        width: 100%;
        float: none;
        text-align: center;
        top: 20px;
        margin-bottom: 65px;
    }
    .main-title div.messenger-wrap a {
        margin: 0 15px;
    }
    .moto-wrap {
        letter-spacing: .1;
        /*font-weight: 400;*/
        font-size: 28px;
        margin-bottom: 75px;
        width: 100%;
        text-align: center;
        color: #777;
    }
    .hint-label {
        box-shadow: inset 0 0 0 3px #777;
        font-size: 31px;
        padding: 20px;
    }
    .hint-wrap {
        /*left: calc(50% - 380px);*/
        /*border: 3px solid #777;*/
        /*border-radius: 20px;*/
        /*font-weight: 400;*/
        font-size: 28px;
        /*padding: 30px;*/
        width: 60%;
        text-align: center;
        margin: 18vh 20% 10vh;
        /*top: 30vh;*/
    }
    .thank-wrap {
        text-align: center;
        padding-left: 10px;
    }
    .info-wrap, .wrap-filter, .wrap-filter.w {
        background: transparent;
        overflow: visible;
        color: #777;
        font-size: 40px;
        line-height: 50px;
    }
    .info-wrap .info-text {
        width: 100%;
        text-align: center;
    }
    .info-wrap br, .hint-wrap br:not(.mob-present) {
        display: none;
    }
    .info-wrap.o {
        opacity: 0;
    }
    .hint-wrap {
        top: 650px;
    }
    .hint-wrap.o {
        top: 940px;
    }
    .hint-wrap .hint-name {
        font-size: 26px;
        margin-bottom: 50px;
    }
    .hint-wrap div.hint-just {
        font-size: 26px;
        min-width: 0;
        float: none;
        text-align: center;
    }
    .hint-wrap div.hint-just span {
    }
    .info-wrap .button-wrap {
        width: 100%;
        text-align: center;
        margin: 9vh 0 0;
    }
    .button-wrap span {
        padding: 20px 40px;
        font-size: 36px;
        float: none;
        border-width: 2px;
        left: 50%!important;
        border: none;
        /*color: #777;*/
        border-radius: 50px;
        /*padding: 12px 30px;*/
        /*background: rgba(0,150,130,1);*/
        background: linear-gradient(45deg, rgba(55,150,225,.95) 30%, #00c2c9);
    }
    .button-wrap span:before {
        box-shadow: inset 3px 0 0 #444, inset -3px 0 0 #444, inset 0 3px 0 #777;
    }
    .button-wrap span:after {
        box-shadow: inset 3px 0 0 #444, inset -3px 0 0 #444, inset 0 -3px 0 #777;
    }
    .button-wrap span.send-button {
        left: 50%;
        transform: translate(-50%);
        top: 620px;
    }
    .contact-form.m .button-wrap span.send-button {
        top: 450px;
        left: 50%
    }
    .contact-form {
        opacity: 0;
    }
    .contact-form.m {
        z-index: 10;
    }
    .contact-form .form-left, .contact-form textarea {
        width: 100%;
        margin-bottom: 0;
    }
    .contact-form textarea.l {
        height: 200px;
    }
    .contact-form input {
        /*margin-bottom: 4vw;*/
        text-align: center;
    }
    .contact-form textarea {
        margin-top: -1px;
        text-align: center;
    }
    .contact-form textarea, .contact-form input {
        -webkit-appearance: none;
        border: none;
        margin-top: 1.5vw;
    }
    #hamburger {
        right: auto;
        top: 1000px;
        left: 50%;
        transform: translate(-50%) scale(.75);
    }
}




@media only screen
and (min-device-width : 0)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .hint-wrap {
        font-size: 20px;
        padding: 20px;
        top: 46vh;
    }
}
