body {
    font-family: 'titillium web', sans-serif;
    font-size: 27px;
    color: #333;
    padding-left: 30vw;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: #333;
}
.title h1 {
	font-family: 'sacramento', sans-serif;
    text-align: left;
    position: relative;
    font-weight: 100;
    font-size: 100px;
    margin: 20vh 0 0;
    line-height: 100px;
    width: 250px;
}
h2.mail a {
	text-align: left;
	font-weight: 300;
    font-size: 20px;
    top: 10vh;
    z-index: 10;
    position: relative;
    background-color: #fedd60;
    padding: 5px 20px 6px;
    border-radius: 4px;
    color: #333;
}
.idea h2 {
    margin: 0;
    text-align: left;
	font-weight: 300;
    font-size: 20px;
    word-spacing: 5px;
}


@media only screen
and (min-width : 0)
and (max-width : 1360px)
and (orientation : landscape), only screen
and (min-width : 0)
and (max-width : 1360px)
and (orientation : portrait) {
    body {
        padding-left: 15vw;
    }
    .title h1 {
        margin-top: 5vh;
    }
    .idea {
        max-width: 70vw;
    }
    .idea br {
        display: none;
    }
}